doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title #{title}
    link( rel='stylesheet' ,href='/stylesheets/bootstrap.min.css')
    link( rel='stylesheet' ,href='/stylesheets/style.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ,rel="stylesheet")
  body
    .navbar.navbar-expand-md.fixed-top.bg-dark.navbar-dark(role='navigation')
      .container
        //a.navbar-brand(href='#') Federal
        if title == 'Chat | App'
          a.navbar-brand(href='#' id="openImp" onclick="openNav()") &#9776 Summary
          a.navbar-brand(href='#' style="display:none" id="closeImp" onclick="closeNav()") &times Summary
          button(type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal") ProBlem
        button.navbar-toggler(type='button',data-toggle='collapse',data-target='#navbarNavAltMarkup',aria-controls="navbarNavAltMarkup",aria-expanded="false",aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarNavAltMarkup.collapse.navbar-collapse
          ul.nav.navbar-nav.mr-auto
            if user
              li.nav-item(class=(title == 'Chat | App' ? 'active' : ''))
                a.nav-link(href='/') Home
            if user
              li.nav-item(class=(title == 'Discussed' ? 'active' : ''))
                a.nav-link(href='/problem') Discussed
            if !user
             li.nav-item(class=(title == 'Register' ? 'active' : ''))
               a.nav-link(href='/users/register') Register
             li.nav-item(class=(title == 'Login' ? 'active' : ''))
               a.nav-link(href='/users/login' ) Login
          ul.nav.navbar-nav.ml-auto
            if user
             li.nav-item
              a.nav-link(href='/users/logout') Logout

    block header
    .container
      != messages()
      block content

    block footer

    script(src='/javascripts/libs/jquery-3.3.1.min.js')
    script(src='/javascripts/libs/bootstrap.min.js')
    script(src='/javascripts/javascript.js')
