body {
    padding-top: 60px;
  }

ul.success li{
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;

   color: #3c763d;
   background-color: #dff0d8;
   border-color: #d6e9c6;
   list-style: none;
}

ul.error li{
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;

   color: #a94442;
   background-color: #f2dede;
   border-color: #ebccd1;
   list-style: none;
}

b{
  white-space:pre-wrap
}

textarea {
  margin:0px 0px;
  padding:5px;
  height:38px;
  line-height:16px;
  width:96%;
  display:block;
  margin:0px auto;
}

div#messages li:last-child{
  padding-bottom: 22px;
}

div#messages1 li:last-child{
  padding-bottom: 22px;
}
div.panel{
  padding:4px;
  border:1px dotted grey;
}

div#count{
position: fixed;
top: 40%;
right: 0%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #11;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 60px;
    padding-bottom: 60px;
    border-right-style: solid;
}

.impMessageStyle {
  margin-top:5px;
  margin-right:5px;
  margin-left:5px;
}

#main {
    /* transition: margin-left .5s; */
}

@media screen and (max-height: 450px) {
}
